<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <!--通用参数-->
        <rosparam file="$(find nav_demo)/param/costmap_common_params_indoor1.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find nav_demo)/param/costmap_common_params_indoor1.yaml" command="load" ns="local_costmap" />
        <!--局部代价地图参数-->
        <rosparam file="$(find nav_demo)/param/local_costmap_params_indoor1.yaml" command="load" />
        <!--全局代价地图参数-->
        <rosparam file="$(find nav_demo)/param/global_costmap_params_indoor1.yaml" command="load" />
        <!--底盘控制相关参数-->
        <rosparam file="$(find nav_demo)/param/base_local_planner_params_indoor1.yaml" command="load" />
    </node>

</launch>